<div class="game-container">
  <h1>Game Component</h1>
  <h2>Click the start button to play!</h2>
  <div class="game-board">
    <div *ngFor="let row of gameBoard; let i = index" class="{{ 'row' + i }}">
      <div
        *ngFor="let square of row; let j = index"
        id="{{ 'row' + i + 'square' + j }}"
        (click)="placeMarker($event)"
      >
        <p>{{ square }}</p>
      </div>
    </div>
  </div>

  <div>
    <button type="button" (click)="startGame()" class="start-button">
      Start Game
    </button>
  </div>
</div>
