.game-container {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid black;

  background-color: lightgray;

  height: 125px;
  width: 125px;

  font-size: 6rem;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.marked {
  background-color: lightgray;
  color: firebrick;
}

.unmarked:hover {
  cursor: pointer;
  background-color: firebrick;
  color: lightgray;
}

.start-button {
  margin-top: 2rem;
  font-size: 2rem;
  border-color: black;
  border-radius: 5rem;
  background-color: lightgray;
  color: firebrick;
}

.start-button:hover {
  color: lightgray;
  background-color: firebrick;
  cursor: pointer;
}
